.element {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid black;
  border-radius: 6px;
  padding-left: 10px;
  padding-bottom: 10px;

  min-width: 280px;
  box-sizing: border-box;
  padding-top: 10px;
  max-height: 80px;
}

.list {
  display: flex;
  gap: 16px;
  flex-direction: row;
  padding-left: 0;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .element {
    width: calc((100% - 32px) / 2); /* 2 элемента в ряд */
  }
}

@media (max-width: 480px) {
  .element {
    width: 100%; /* 1 элемент в ряд */
  }
}
